<!DOCTYPE html>
<html>
  <head>
    <title>Pimienta & sal</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/create.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
     <!-- Navbar (sit on top) -->
     <%- include ("./partials/nav") %>
     <body>
        <div class="caja-grande" >
            <div class="box-form">
              <div class="title-form">FORMULARIO DE CREACIÓN</div>

                <form action="/product/crear" method="post" class="formulario" style="width: 100%;">

                    <label for="id" class="label-form">ID</label>
                    <input type="number" name="id" required class="input-form">
                    
                    <label for="title" class="label-form">NOMBRE DEL PRODUCTO</label>
                    <input type="text" name="title" required class="input-form">

                    <label for="description" class="label-form">DETALLE</label>
                    <textarea name="description" id="descripcion" cols="30" rows="10" placeholder="Escriba una descripción de producto..." required class="input-form" style="height:90px;"></textarea>

                    <label for="price" class="label-form">PRECIO</label>
                    <input type="text" name="price" required class="input-form">

                    <label for="image" class="label-form">IMAGENES</label>
                    <input type="file" name="image">

                    <div class="div-button">
                        <button type="submit" class="button-form">SUBIR PRODUCTO</button>
                        <button type="submit" class="button-form">ELIMINAR PRODUCTO</button> 
                      </div>
            
                </form>
            </div>
        </div>



     </body>
    

      <!-- Footer -->
      <%- include ("./partials/footer") %>