.msj-error{
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: small;
    color: orange;
    margin-bottom: 5px;
}

.letter-gral{
    font-family: "Segoe UI", Arial, sans-serif;
    letter-spacing: 2px;
}

.display-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.caja-grande {
    background-color: gainsboro; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.box-form{
    width: 60%;
    margin: 30px;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 30px;
}

.title-form {
    color: #FD611A;
    font-weight: bold;
    font-size: large;
    margin-bottom: 20px;
}

.label-form {
    text-align: start;
    font-size:medium;
    width: 100%;
    font-family: "Segoe UI", Arial, sans-serif;
    letter-spacing: 2px;
    margin-top: 10px;
}

.input-form {
    width: 100%;
    font-family: "Segoe UI", Arial, sans-serif;
    letter-spacing: 2px;
    background-color: gainsboro;
    border: none;
    height: 35px;
    padding: 5px;
}

.form-radio{
    width: 100%;
    padding: 5px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-check{
    width: 100%;
    font-size: medium;
    padding: 5px;
}

.button-form {
    font-family: "Segoe UI", Arial, sans-serif;
    letter-spacing: 2px;
    background-color:#FD611A;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 35%;
    transition: 1s;
    margin: 10px;
}

.button-form:hover {
    background-color: gainsboro;
    background-color: #ff9b6d;
}

@media (max-width:768px) {
    .box-form{
        width: 90%;}
}

